    <!-- Sidebar -->
    <div class="col-lg-2 mr-4">

      <div class="">

        <!-- Grid row -->
        <div class="row">

          <div class="col-md-6 col-lg-12 border br-5 mb-3 p-3  rgba-yellow-strong">

            <!-- Panel -->
            <h5 class="font-weight-bold black-text"><strong>Order By</strong></h3>

              <div class="divider"></div>

              <p class="active"><a>Default</a></p>

              <p class="black-text"><a>Popularity</a></p>

              <p class="black-text"><a>Average rating</a></p>

              <p class="black-text"><a>Price: low to high</a></p>

              <p class="black-text"><a>Price: high to low</a></p>

          </div>

          <!-- Filter by category -->
          <div class="col-md-6 col-lg-12 border br-5 mb-3 p-3  rgba-yellow-strong">

            <h5 class="font-weight-bold black-text"><strong>Category</strong></h3>

              <div class="divider"></div>

              <!-- Radio group -->
              <div class="form-group ">

                <input class="form-check-input" name="group100" type="radio" id="radio100">

                <label for="radio100" class="form-check-label black-text">All</label>

              </div>

              <div class="form-group">

                <input class="form-check-input" name="group100" type="radio" id="radio101" checked>

                <label for="radio101" class="form-check-label black-text">Laptop</label>

              </div>

              <div class="form-group">

                <input class="form-check-input" name="group100" type="radio" id="radio102">

                <label for="radio102" class="form-check-label black-text">Smartphone</label>

              </div>

              <div class="form-group">

                <input class="form-check-input" name="group100" type="radio" id="radio103">

                <label for="radio103" class="form-check-label black-text">Tablet</label>

              </div>

              <div class="form-group">

                <input class="form-check-input" name="group100" type="radio" id="radio104">

                <label for="radio104" class="form-check-label black-text">Headphones</label>

              </div>

              <!-- Radio group -->
          </div>

          <!-- Filter by category -->
        </div>
        <!-- Grid row -->

        <!-- Grid row -->
        <div class="row">

          <!-- Filter by price -->
          <div class="col-md-6 col-lg-12 border br-5 mb-3 p-3  rgba-yellow-strong">

            <h5 class="font-weight-bold black-text"><strong>Price</strong></h3>

              <div class="divider"></div>

              <form class="range-field mt-3">

                <input id="calculatorSlider" class="no-border" type="range" value="0" min="0" max="30" />

              </form>

              <!-- Grid row -->
              <div class="row justify-content-center">

                <!-- Grid column -->
                <div class="col-md-6 text-left">

                  <p class="black-text"><strong id="resellerEarnings">0$</strong></p>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-6 text-right">

                  <p class="black-text"><strong id="clientPrice">319$</strong></p>

                </div>
                <!-- Grid column -->

              </div>
              <!-- Grid row -->

          </div>
          <!-- Filter by price -->

          <!-- Filter by rating -->
          <div class="col-md-6 col-lg-12 border br-5 mb-3 p-3  rgba-yellow-strong">

            <h5 class="font-weight-bold black-text"><strong>Rating</strong></h3>

              <div class="divider"></div>

              <div class="row ml-1">

                <!-- Rating -->
                <ul class="rating mb-0">

                  <li><i class="fas fa-star blue-text"></i></li>

                  <li><i class="fas fa-star blue-text"></i></li>

                  <li><i class="fas fa-star blue-text"></i></li>

                  <li><i class="fas fa-star blue-text"></i></li>

                  <li><i class="fas fa-star blue-text"></i></li>

                  <li>

                    <p class="ml-3 black-text"><a>4 and more</a></p>

                  </li>

                </ul>

              </div>

              <div class="row ml-1">

                <!-- Rating -->
                <ul class="rating mb-0">

                  <li><i class="fas fa-star blue-text"></i></li>

                  <li><i class="fas fa-star blue-text"></i></li>

                  <li><i class="fas fa-star blue-text"></i></li>

                  <li><i class="fas fa-star blue-text"></i></li>

                  <li><i class="fas fa-star grey-text"></i></li>

                  <li>

                    <p class="ml-3 black-text"><a>3 - 3,99</a></p>

                  </li>

                </ul>

              </div>

              <div class="row ml-1">

                <!-- Rating -->
                <ul class="rating">

                  <li><i class="fas fa-star blue-text"></i></li>

                  <li><i class="fas fa-star blue-text"></i></li>

                  <li><i class="fas fa-star blue-text"></i></li>

                  <li><i class="fas fa-star grey-text"></i></li>

                  <li><i class="fas fa-star grey-text"></i></li>

                  <li>

                    <p class="ml-3 black-text"><a>3.00 and less</a></p>

                  </li>

                </ul>

              </div>

          </div>
          <!-- Filter by rating -->

        </div>
        <!-- Grid row -->

      </div>

    </div>
    <!-- Sidebar -->